* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Estilização do Header */

a {
    color: black;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
    color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: white;
}

nav {
    width: 1280px;
    height: 32px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 162.5px;
    height: 60px;
    padding: 12px 0px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
}

menu {
    display: flex;
    align-items: center;
}

menu a:link,
a:visited {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration-color: black;
    font-weight: bold;
    font-size: 15px;
    transition: .3s;
    color: black;
}

menu a:hover {
    background-color: black;
    color: #fafafa;
}


/* Fim da estilização do Header */

main {
    width: 100%;
    margin: 60px auto 0px auto;
}

footer {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: black;
    color: #fafafa;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}

section:not(#start) {
    width: 1280px;
    margin: 0 auto;
    padding: 32px 0;
}


/* Estilização section Produtos */

#products {
    width: 100%;
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#products h2 {
    width: 100%;
    text-transform: uppercase;
    height: 64px;
    line-height: 60px;
    text-align: center;
}

.product {
    width: 305px;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 0px 8px #24242480;
    transition: .5s;
}

.product:hover {
    box-shadow: 0px 0px 12px #24242440;
    transform: scale(1.03);
}

.product-img {
    width: 273px;
    height: 394px;
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
}

.product-img img {
    width: 100%;
}

.product-desc {
    width: 100%;
    text-align: center;
    strong {
        font-size: 24px;
        font-weight: 350;
    }
    p {
        color: #24242480;
        font-size: 14px;
    }
}


/* Fim da estilização da section Produtos */


/* Estilização da section promotions */

#promotions {
    width: 100%;
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#promotions h2 {
    width: 100%;
    text-transform: uppercase;
    height: 64px;
    line-height: 60px;
    text-align: center;
}

.promotion {
    width: 305px;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 0px 8px #24242480;
    transition: .5s;
}

.promotion:hover {
    box-shadow: 0px 0px 12px #24242440;
    transform: scale(1.03);
}

.promotion-img {
    width: 273px;
    height: 394px;
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
}

.promotion-img img {
    width: 100%;
}

.promotion-desc {
    width: 100%;
    text-align: center;
    strong {
        font-size: 24px;
        font-weight: 350;
    }
    p {
        color: #24242480;
        font-size: 14px;
    }
}


/* Fim da estilização da section Promoções */


/* Estilização do detalhe dos Produtos*/

.details-products {
    width: 1280px;
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.detail-foto-products {
    width: 720px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.large {
    width: 720px;
    border-radius: 16px;
}

.large-img {
    width: 100%;
    height: 1080px;
    box-shadow: 0px 0px 8px black;
    transition: 0.5s;
}

.large-img img {
    width: 100%;
    transition: 0.5s;
}

.thumbs {
    width: 500px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.thumb {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.thumb:hover {
    box-shadow: 0px 0px 8px;
    transform: scale(1.1);
}

.thumb img {
    width: 100%;
}

.detail-price-products {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.detail-price-products p {
    font-size: 15px;
}

.price {
    width: 100%;
    height: 100px;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    strong {
        font-size: 25px;
        font-weight: 550;
    }
    border: 1px solid black;
    background-color: #f2f2f2;
}

.tamanho {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    gap: 10px;
    padding: 12px 24px 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.selector {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="radio"] {
    display: none;
}

.selector label {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

input[type="radio"]:checked+label {
    background-color: black;
    color: #fafafa;
}

.esgotado {
    width: 250px;
    height: 60px;
    margin-left: 80px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
}


/* Fim da estilização do detalhe dos Produtos */


/* Estilização da seção Contato */

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-contact {
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 8px black;
}

.container-contact form {
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 26px;
    border: none;
    border-radius: 4px;
    padding: 4px;
}

input:focus {
    outline: none;
    border: 1px solid black;
    box-shadow: 0px 0px 4px black;
}

input::placeholder {
    color: #2a2a2a;
}

input[type="submit"] {
    width: 180px;
    height: 30px;
    color: #fafafa;
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
}

.persistente {
    position: relative;
    width: 100%;
    height: 30px;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fafafa;
    transition: 0.5s;
    box-shadow: 0px 0px 5px;
}

.slider::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    border-radius: 50%;
    transition: 0.5s;
}

.round {
    border-radius: 12px;
}

input:checked+.slider {
    background-color: gray;
    transition: 0.5s;
}

input:checked+.slider::before {
    transform: translateX(24px);
}

.slider::after {
    content: "Mantenha-me conectado";
    color: black;
    width: 200px;
    left: 52px;
    position: absolute;
}