* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Estilização do Header */

a {
    text-decoration: none;
    transition: .5s;
}

header {
    width: 100%;
    height: 60px;
    color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

nav {
    width: 1280px;
    height: 32px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 162.5px;
    height: 60px;
    padding: 12px 0px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
}

menu {
    display: flex;
    align-items: center;
}

menu a:link,
a:visited {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration-color: black;
    font-weight: bold;
    font-size: 15px;
    transition: .3s;
    color: black;
}

menu a:hover {
    background-color: black;
    color: #fafafa;
}


/* Fim da estilização do Header */

main {
    width: 100%;
    margin: 0 auto;
}

footer {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: black;
    color: #fafafa;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}

section:not(#start) {
    width: 1280px;
    margin: 0 auto;
    padding: 32px 0;
}


/* Estilização section Produtos */

#products {
    width: 100%;
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#products h2 {
    width: 100%;
    text-transform: uppercase;
    height: 64px;
    line-height: 60px;
    text-align: center;
}

.product {
    width: 305px;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 0px 8px #24242480;
    transition: .5s;
}

.product:hover {
    box-shadow: 0px 0px 12px #24242440;
    transform: scale(1.03);
}

.product-img {
    width: 273px;
    height: 394px;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    box-shadow: 0px 0px 5px black;
}

.product-desc {
    width: 100%;
    text-align: center;
    strong {
        font-size: 24px;
        font-weight: 350;
    }
    p {
        color: #24242480;
        font-size: 14px;
    }
}


/* Fim da estilização da section Produtos */


/* Estilização da section promotions */

#promotions {
    width: 100%;
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#promotions h2 {
    width: 100%;
    text-transform: uppercase;
    height: 64px;
    line-height: 60px;
    text-align: center;
}

.promotion {
    width: 305px;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 0px 8px #24242480;
    transition: .5s;
}

.promotion:hover {
    box-shadow: 0px 0px 12px #24242440;
    transform: scale(1.03);
}

.pro-img {
    width: 273px;
    height: 394px;
    overflow: hidden;
}

.promotion-img img {
    width: 100%;
    box-shadow: 0px 0px 5px black;
}

.promotion-desc {
    width: 100%;
    text-align: center;
    strong {
        font-size: 24px;
        font-weight: 350;
    }
    p {
        color: #24242480;
        font-size: 14px;
    }
}


/* Fim da estilização da section Promoções */


/* Estilização do detalhe dos Produtos*/

.details-products {
    width: 1280px;
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.detail-foto-products {
    width: 720px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.large {
    width: 720px;
    border-radius: 16px;
}

.large-img {
    width: 100%;
    height: 1080px;
    box-shadow: 0px 0px 8px black;
    transition: 0.5s;
}

.large-img img {
    width: 100%;
    transition: 0.5s;
}

.thumbs {
    width: 500px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.thumb {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 5px black;
}

.thumb:hover {
    box-shadow: 0px 0px 8px;
    transform: scale(1.0);
}

.thumb img {
    width: 100%;
}

.detail-price-products {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail-price-products p {
    font-size: 15px;
}

.price {
    width: 100%;
    height: 100px;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    strong {
        font-size: 25px;
        font-weight: 550;
    }
    border: 1px solid black;
    background-color: #f2f2f2;
}

.tamanho {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    gap: 10px;
    padding: 12px 24px 0px;
    border: 1px solid black;
}

.selector {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.selector button {
    width: 45px;
    height: 45px;
    background-color: white;
    border: none;
    border: 1px solid black;
}

.selector button p {
    font-size: 20px;
}

.selector button:checked {
    background-color: black;
    color: #fafaaf;
}

.esgotado {
    width: 250px;
    height: 60px;
    margin-left: 80px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
}


/* Fim da estilização do detalhe dos Produtos */


/* Estilização da seção Contato */

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-contact {
    width: 600px;
    height: 200px;
    padding: 20px 25px;
    background-color: #f0f0f0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container-contact h2 {
    text-transform: uppercase;
}

input {
    border-radius: 3px;
}

input[type="text"]:not(#contact-name) {
    width: 200px;
    height: 60px;
}

input:focus {
    outline: none;
    border: 1px solid black;
}

.form {
    display: flex;
}

.name-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}